@model IEnumerable<Prueba_desempeno_csharp.Models.Patient>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["message"]
                    </div>
                }
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAMES</th>
                        <th>LASTNAMES</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var patient in Model)
                    {
                        <tr>
                            <th>@patient.Id</th>
                            <th>@patient.Names</th>
                            <th>@patient.LastNames</th>
                            <th>
                                <a asp-controller="Patients" asp-action="Details" asp-route-id="@patient.Id" class="btn btn-info">Details</a>
                                <a asp-controller="Patients" asp-action="Edit" asp-route-id="@patient.Id" class="btn btn-warning">Edit</a>
                                <form id="deleteForm-@patient.Id" asp-action="Delete" asp-route-id="@patient.Id" method="post" class="d-inline">
                                    <button type="button" class="btn btn-danger" onclick="confirmDelete(@patient.Id)">Delete</button>
                                </form>

                                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <script>
                                    function confirmDelete(id) {
                                        Swal.fire({
                                            title: "Are you sure?",
                                            text: "This action cannot be undone!",
                                            icon: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: "#d33",
                                            cancelButtonColor: "#616161",
                                            confirmButtonText: "Yes, delete it!"
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                document.getElementById("deleteForm-" + id).submit();
                                            }
                                        });
                                    }
                                </script>
                            </th>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-2">
            <div class="card body px-4">
                <form asp-action="Create" method="post">
                    <h3>Register a patient</h3>
                    <div class="mt-4">
                        <label for="">Names</label>
                        <input type="text" name="Names" class="form-control">
                    </div>
                    <div class="mt-4">
                        <label for="">Last Names</label>
                        <input type="text" name="LastNames" class="form-control">
                    </div>
                    <div class="mt-4">
                        <label for="">Email</label>
                        <input type="text" name="Email" class="form-control">
                    </div>
                    <div class="mt-4">
                        <label for="">Phone</label>
                        <input type="text" name="Phone" class="form-control">
                    </div>
                    <hr>
                    <button class="btn btn-primary w-100">Save info</button>
                </form>
            </div>
        </div>
    </div>
</div>  