@model Prueba_desempeno_csharp.Models.Appointment

<p>Id: @Model.Id</p>
<p>Patient: @Model.Patient?.Name</p>
<p>Datetime: @Model.DateTime</p>
<p>Medic: @Model.Medic?.Name</p>
<p>Observations: @Model.Observations</p>
<p>State: @Model.State</p>
<form asp-action="ChangeState" method="post" style="display:inline;">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="newState" value="Canceled" />
    <button type="submit" class="btn btn-danger">Cancel</button>
</form>

<form asp-action="ChangeState" method="post" style="display:inline;">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="newState" value="Attended" />
    <button type="submit" class="btn btn-success">Mark as Attended</button>
</form>


<a asp-action="Index" class="btn btn-secondary">Back</a>