@model Prueba_desempeno_csharp.Models.Medic

<p>Id: @Model.Id</p>
<p>Names: @Model.Names</p>
<p>Last names: @Model.LastNames</p>
<p>Email: @Model.Email</p>
<p>Speciality: @Model.Speciality</p>
<p>Phone: @Model.Phone</p>

<a asp-action="Index" class="btn btn-secondary">Back</a>